<div class='container main'>
  <div class="row">
    <h2>Favoritos: </h2>
    <a href="/roles/miPerfil" class="btn btn-dark ">Volver a mi Perfil</a>
  </div>
  <div class="row justify-content-around">
    {{#each movies}}
    <div class="col-6 card">
      <div class="row">
        <div class="col-4">
          <img src="{{this.poster_path}}" alt="" style="width:60%">
        </div>
        <div class="col-8">
          <h4>{{title}}</h4>
          <hr>
          <div class="row">
            <a href="#" class="btn btn-outline-dark btn-sm">Comentar Película </a>
            <a href="/movies/delete?movieId={{_id}}" class="btn btn-outline-dark btn-sm"> Eliminar de Favoritos</a>
          </div>
          <div class="row">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Options</label>
              </div>
              <select class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>