<div class="container main">

  <div class="row">
    <div class="col-md-6">
      <h1>Favoritos</h1>
      <a href="/" class="btn btn-dark">Volver a mi Perfil</a>

    </div>
    <div class="col-md-6">
      <ul class="movies-list">
        {{#each movies}}

        <li>
          <h5>{{title}}</h5>
          <div>
            <a href="#" class="btn btn-outline-dark">Comentar Película </a>
            <a href="#" class="btn btn-outline-dark"> Eliminar de Favoritos</a>
          </div>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>