<h1>cines</h1>


    <figure id="map"></figure>

{{!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> --}}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDj_pPQHsn1xwVZbX3AedFePYFyudcZAsY"></script>
<script src="/javascripts/main.js"></script>